<body style="background-color: #743082; padding: 15px; font-family: 'Palatino' !important;">
  <table style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; background-color: #ffffff; max-width: 500px; margin-top: 20px; margin-right: auto; margin-left: auto; padding:20px;">
    <tbody>
      <tr>
        <td>
          <img 
            style="max-width: 100%; margin-bottom: 20px"
            src="http://lundakarnevalen.se/wp-content/uploads/2018/02/img.jpg" / >
        </td>
      </tr>
      <tr>
        <td><h2 style="color: #8A4797;">Wehej!</h2></td>
      </tr>
      <tr>
        <td>
Här är en påminnelse om att en registrering av personinfo i appen inte räcker för att bli karnevalist - du behövde även vara på Uppropet i söndags för att bli incheckad! Vill du fortfarande bli karnevalist kommer det att erbjudas ett tillfälle att checkas in på Karnevalscentralen. Information om detta kommer att gå ut senare.
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
<h3 style="color: #8A4797;">Angående Studentlund</h3>
I lördags berättade vi att vi <u>inte</u> skulle kolla Studentlundsmedlemsskap i samband med Uppropet på grund av de systemproblem med konton och inbetalningar av medlemsskapet som uppstått mot veckoslutet. Nu när incheckningen är färdig så är det därför dags att kolla läget med allas Studentlundsmedlemskap. För att du ska kunna bli fördelad till en sektion är det därför SUPERMEGAVIKTIGT att du har betalat din avgift till Studentlund! Betala med kort via <a href="http://trf.upright.se/sv-se/">trf.upright.se</a> <b>SENAST</b> onsdag 7 februari. Tänk på att betala med kort och inte via bankgiro - det går fram snabbast!
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
          <td>
<a href="https://www.facebook.com/hashtag/lundakarnevalen?source=feed_text&story_id=755525241308964">#Lundakarnevalen</a>
<a href="https://www.facebook.com/hashtag/imaginalkarneval?source=feed_text&story_id=755525241308964">#Imaginalkarneval</a>
<a href="https://www.facebook.com/hashtag/upprop18?source=feed_text&story_id=755525241308964">#Upprop18</a>
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><em style="font-size:10px">This is an auto-generated message, please do not reply to this message. If you have any questions please mail <a href="mailto:info@lundakarnevalen.se">info@lundakarnevalen.se</a></em></td>
      </tr>
    </tbody>
  </table>
</body>

