<body style="background-color: #FBBCC0; padding: 15px; font-family: 'Palatino' !important;">
  <table style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; background-color: #ffffff; max-width: 500px; margin-top: 20px; margin-right: auto; margin-left: auto; padding:20px;">
    <tbody>
      <tr>
        <td><h2 style="color: #8A4797;">Hej!</h2></td>
      </tr>
      <tr>
        <td><em style="font-size: 10px;">-- For information in english, please email <a href="mailto:gustaf.linton@lundakarnevalen.se">gustaf.linton@lundakarnevalen.se</a> --</em></td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
Nu har alla som sökt audition till scen/orkester/dans fått en audition-tid inför helgen. Om du inte fått en audition-tid kan vi ha missat dig alternativt att mailet kommit på villovägar och du måste då kontakta <a href="mailto:gustaf.linton@lundakarnevalen.se">gustaf.linton@lundakarnevalen.se</a> asap för att vi ska kunna tilldela dig en audition-tid. 
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
Dessutom kommer vi att hålla en drop-in på söndag klockan 18:30-19:30 för scen och 20:30-21:00 för orkester. Dock är detta en sista utväg, kontakta Gustaf först. Observera att du måste vara registrerad på uppropet för att kunna komma på drop-in. Om du inte kan komma i helgen men ändå vill söka kan du skicka in en film på 3 min där du visar vad du kan. Vi ser enormt mycket fram emot att träffa er alla i helgen! 
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
Kram,<br />
Nöjena
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
Har du fler frågor? Mejla <a href="mailto:gustaf.linton@lundakarnevalen.se">gustaf.linton@lundakarnevalen.se</a>

          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
          <td>
<a href="https://www.facebook.com/hashtag/lundakarnevalen?source=feed_text&story_id=755525241308964">#Lundakarnevalen</a>
<a href="https://www.facebook.com/hashtag/imaginalkarneval?source=feed_text&story_id=755525241308964">#Imaginalkarneval</a>
<a href="https://www.facebook.com/hashtag/upprop18?source=feed_text&story_id=755525241308964">#Upprop18</a>


          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><em style="font-size:10px">This is an auto-generated message, please do not reply to this message.</em></td>
      </tr>

    </tbody>
  </table>
</body>

