<body style="background-color: #FBBCC0; padding: 15px; font-family: 'Palatino' !important;">
  <table style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; background-color: #ffffff; max-width: 500px; margin-top: 20px; margin-right: auto; margin-left: auto; padding:20px;">
    <tbody>
      <tr>
        <td><h2 style="color: #8A4797;">Hej!</h2></td>
      </tr>
      <tr>
        <td><em style="font-size: 10px;">-- For information in english, please email gustav.linton@lundakarnevalen.se --</em></td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
Kul att just du har sökt till audition, det var superkul att så många kom förbi och ville prata med oss på Uppropet. 
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
Denna länk kräver din respons för att du ska få en auditiontid. Vi kräver att du bekräftar att du vill genomföra en fysisk audition under helgen 9-11/2 via denna länk: 
          </td>
      </tr>
      <tr>
        <td>
<a href="https://goo.gl/forms/BrQOcPrHsTLoQOSF2">https://goo.gl/forms/BrQOcPrHsTLoQOSF2</a>
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
Detta ska vara ifyllt senast 19.00 tisdag 6/2.
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
Du kommer att få ett mejl senast onsdag med din auditiontid. 
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
Till er som har sökt scen! Detta formulär finns att  fylla i om ni hade preferenser av vilka nöjen, det finns här om ni vill fylla i det. 
<br />
<a href="https://goo.gl/forms/ikMlpVW4mKb2Ogql2">https://goo.gl/forms/ikMlpVW4mKb2Ogql2</a>
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
Har du sökt dans, så kommer dessa auditions att vara på fredagkväll. Det är väldigt kul att så många har sökt just dans, dock så kan vi erbjuda väldigt få platser! Just nu så är det Kabaré och Showen som söker dansare, varav Showen vill att man även gör en scenaudition om man är dansare.
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
Har du sökt till orkester, kommer vi att kunna tillhandahålla piano och trummor, annars så räknar vi med att du tar med eget instrument. 
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
Nedan finns information som delades ut under uppropet, ifall någon missat det.
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
<h3>FAQ</h3>
          </td>
      </tr>
      <tr>
        <td>
<b>Fråga:</b> När är auditions?
<br /><b>Svar:</b> Helgen 9-11 februari
<br /><b>Fråga:</b> Om jag absolut inte kan komma på auditions den helgen?
<br /><b>Svar:</b> Skicka in en film på 3 min där du visar vad du kan till gustaf.linton@lundakarnevalen.se senast fredag 9e februari klockan 12:00
<br /><b>Fråga:</b> Vad ska jag förbereda till auditions?
<br /><b>Svar:</b> Du får 3 minuter att visa vad du kan. Ta med noter om du vill ha piano-komp. 
<br /><b>Fråga:</b> Kan jag visa upp vilket material jag vill på audition?
<br /><b>Svar:</b> Självklart! Dock bör du ju visa det du är intresserad av att göra på karnevalen.
<br /><b>Fråga:</b>  Går det att göra audition till mer än en sak? 
<br /><b>Svar:</b>  Ja! Vill du till exempel både skådespela och dansa så fyller du i och kommer bli kallad till två auditions. 
          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
Har du fler frågor? Mejla gustaf.linton@lundakarnevalen.se

          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
          <td>
<a href="https://www.facebook.com/hashtag/lundakarnevalen?source=feed_text&story_id=755525241308964">#Lundakarnevalen</a>
<a href="https://www.facebook.com/hashtag/imaginalkarneval?source=feed_text&story_id=755525241308964">#Imaginalkarneval</a>
<a href="https://www.facebook.com/hashtag/upprop18?source=feed_text&story_id=755525241308964">#Upprop18</a>


          </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><em style="font-size:10px">This is an auto-generated message, please do not reply to this message.</em></td>
      </tr>

    </tbody>
  </table>
</body>

